.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  width: 100%;

  p {
    margin: 10px 0;
  }
}

#maksym_opanasenko {
  color: #6E6893;
  font-size: 45px;
  font-weight: 800;
}

#marina_smirnova {
  color: #103b10;
  font-size: 85px;
  font-weight: 700;
}

#denis_kornienko {
  color: #6E6893;
  font-size: 45px;
  font-weight: 800;
}