@import '../shared/variables';

.header {
  align-items: center;
  background: $primary-color;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 100%;
}

.header__content-container {
  @extend .header; //stylelint disable line
  box-sizing: border-box;
  padding: 0 24px;

  ul {
    align-items: center;
    display: flex;
    justify-content: center;

    li {
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      margin: 0 10px;
      opacity: 0.8;
      transition: 0.2s ease-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}
